.cproject
.project
.settings
CMakeCache.txt
CMakeFiles
Makefile
project.*
bin
*.cmake
install_manifest.txt
yaml-cpp.pc
yaml-cpp/libyaml-cpp.a
dft2lnt/lexer.l.cpp
dft2lnt/lexer.l.h
dft2lnt/libdft2lnt.a
dft2lnt/parser.y.cpp
dft2lnt/parser.y.hpp
dft2lnt/parser.y.output
dft2lntc/compiletime.h
dft2lntc/dft2lntc
dftcalc/compiletime.h
dftcalc/dftcalc
dfttest/compiletime.h
dfttest/dfttest